<div id="air-movement" data-template="site/products/air-movement">
    <div class="air-movement">
        <div class="air-text">
            <h6>Catagory</h6>
            <h3>Air Movement</h3>
            <p>Brilliant’s extensive range of energy efficient ceiling fans and fan accessories not only keep living and working areas cool in warmer months – they also add style to any room. The range of ceiling fans include modern stainless styles with or without lights, as well as several classic wooden models.</p>
            <p>Brilliant’s extensive range of energy efficient ceiling fans and fan accessories not only keep living and working areas cool in warmer months – they also add style to any room. The range of ceiling fans include modern stainless styles with or without lights, as well as several classic wooden models.</p>
        </div>
        <div class="air-image">
            <img data-src="/images/brilliant/brilliant16.jpg" alt="">
        </div>
    </div>
    <div class="air-list">
        <a href="#" class="fan-light">
            <img data-src="/images/brilliant/air-movement1.jpg" alt="">
            <p>Celling Fan with Light</p>
        </a>     <a href="#" class="fan-without-light">
            <img data-src="/images/brilliant/air-movement2.jpg" alt="">
            <p>Celling fan Without lights</p>
        </a> 
        <a href="#" class="exhaust-fan">
            <img data-src="/images/brilliant/air-movement3.jpg" alt="">
            <p>Exhaust Fan only</p>
        </a> 
        <a href="#" class="exhaust-with-light">
            <img data-src="/images/brilliant/air-movement4.jpg" alt="">
            <p>Exhaust fan with Lights</p>
        </a>        
        <a href="#" class="fan-accessory">
            <img data-src="/images/brilliant/air-movement5.jpg" alt="">
            <p>Fan Accessory</p>
        </a>        
        <a href="#" class="fan-accessory">
            <img data-src="/images/brilliant/air-movement6.jpg" alt="">
            <p>Heat, Fan and Lights</p>
        </a>
    </div>
</div>