<footer data-template='common/footer'>
    <div class="footer-logo  ">
        <img data-src="images/brilliant/brilliant01.jpg" alt="">
        <p>956 Srud Road rowville, Victoria Australia 3178</p>
        <div class="footer-adres">
            <h6>Australia</h6>
            <p class="flex">tel: <a href="#"> +61 3 9765 2555</a>
            <p class="flex">fex: <a href="#"> +61 3 97630277</a>
            </p>
        </div>
        <div class="footer-adres">
            <h6>New Zealand</h6>
            <p class="flex"> tel: <a href="#"> +64 9 9749 618</a>
            </p>
        </div>
        <div class="footer-adres">
            <h6>Email Us</h6>
            <p>@ 2020 Brilliant</p>
            <p>ABN : 37 006 203 694</p>
        </div>
    </div>
    <div class="catagory footer-item">
        <div class="footer-adres">
            <h6>Catagory</h6>
            <a href="#">Air Movement</a>
            <a href="#">Commercial</a>
            <a href="#">Electrical</a>
            <a href="#">Indoor Lightning</a>
            <a href="#">Outdoor Lightning</a>
            <a href="#">Security</a>
            <a href="#">Smart Home</a>
            <a href="#">Specifier Range</a>
        </div>
    </div>
    <div class="customer-care footer-item">
        <div class="footer-adres">
            <h6>Customer Care</h6>
            <a href="#">Lookup your Quote</a>
            <a href="#">Trade or Homeowner</a>
            <a href="#">Customer Support</a>
            <a href="#">Find a Stockist</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
    <div class="policies footer-item">
        <div class="footer-adres">

            <h6>Policies</h6>
            <a href="">Warrenty Repair Form</a>
            <a href="">Warrenty Conditions</a>
            <a href="">Privacy Policy</a>
            <a href="">Cooklies Policies</a>
            <a href="">Nexus Gateway Privacy Policy</a>
        </div>
    </div>
    <div class="company footer-item">
        <h6>Company</h6>
        <a href="">About us</a>
        <a href="">Lightning Concils</a>
        <a href="">Packaging Covneat</a>
        <a href="">Latest News</a>
        <a href="">Media Release</a>
    </div>
    <div class="brillaint-smart footer-item">
        <div class="footer-adres">
            <h6>BrillaintSmart</h6>
            <a href="">App for IOS</a>
            <a href="">App for Android</a>
            <a href="">Find out more</a>
        </div>
        <div class="footer-adres">
            <h6>Nexus Home</h6>
            <a href="">App for IOS</a>
            <a href="">App for Android</a>
            <a href="">Find out more</a>
        </div>
    </div>
    <div class="footer-subscribe">
        <h6>Get Brillant Update</h6>
        <input type="text" placeholder="Enter your email adress" >
        <button class="main-button border-none">Subscribe</button>
    </div>
    <div class="footer-social">
        <h6>Follow us</h6>
    </div>
</footer>