<nav role="navigation" aria-label="Top Navigation" data-template="common/navigation">
  <ul>
      <li class="logo"><img data-href="/" src="/images/brilliant/brilliant01.jpg" /></li>
      <li class="navigation" data-name="navMenu">
        <a href="#">Products</a>
        <a href="#">Solutions</a>
        <a href="#">Catalogue</a>
        <a href="#">Stockish</a>
        <a href="#">News</a>
        <a href="#">Supports</a>
        <a href="#" class="main-button">Request a Quote</a>
        <a href="#">Login/Signup</a>
      </li>
  </ul>
</nav>
