<div id="catalogues" data-template="site/catalogues">
    <div class="catalogue-title">
        <h6>catalogues</h6>
        <h3>Brand New Catalogues Out Now!</h3>
        <p>Check out our large range of products across different categories. You will be sure to find the right
            solution for you.</p>
    </div>
    <div class="catalogue-list">
        <a href="#">
            <img data-src="images/brilliant/catalogue1.jpg" alt="not Found">
            <p>Brillant Bathroom 2020</p>
        </a> <a href="#">
            <img data-src="images/brilliant/catalogue2.jpg" alt="not Found">
            <p>BrillantSmart Edition 02</p>
        </a><a href="#">
            <img data-src="images/brilliant/catalogue3.jpeg" alt="not Found">
            <p>BrillantSmart mech Guide 2021</p>
        </a><a href="#">
            <img data-src="images/brilliant/catalogue4.jpg" alt="not Found">
            <p>Celling Fan Range 2022</p>
        </a>
        <a href="#">
            <img data-src="images/brilliant/catalogue5.jpeg" alt="not Found">
            <p>Emergency Lightning</p>
        </a>
        <a href="#">
            <img data-src="images/brilliant/catalogue6.jpg" alt="not Found">
            <p>Trade Catalogue 2022 in Australia</p>
        </a>
        <a href="#">
            <img data-src="images/brilliant/catalogue7.jpg" alt="not Found">
            <p>Trade Catalogue 2022 in New Zealand</p>
        </a>
    </div>
</div>
</div>