<div id="home" data-template="site/home">
    <section class="slider">
        <div class="slider-image">
            <img src="../../../../images/brilliant/brilliant05.jpg" alt="">
            <img src="../../../../images/brilliant/brilliant24.jpg" alt="">
            <img src="../../../../images/brilliant/brilliant25.jpg" alt="">
            <img src="../../../../images/brilliant/brilliant26.jpg" alt="">
        </div>
        <div class="slider-text">
            <div class="slider-box">
                <h4>Check out our new Bathroom Catalogue</h4>
                <p>Our latest bathroom catalogue is out now! On show is our great range of heaters and exhaust fans to
                    keep your bathroom warm and steam free through the cold months.</p>
            </div>
            <div class="slider-box">
                <h4>How To Make Setting Up Your Downlights Easier for Your Sparkie</h4>
                <p>If you want clean and simple lines for your lighting at home, consider installing downlights.
                    Downlights are unobtrusive, space-saving and can provide both ambient lighting and task lighting.
                    With LED downlights, you can also regulate the colour temperature and enjoy other benefits such as a
                    cooler environment and lower energy costs.</p>
            </div>
            <div class="slider-box">
                <h4>Case study highlight: Toorak apartment commercial project.</h4>
                <p>Take a walk through this high-end property located in Melbourne. We chat with the owner of the
                    property Mark Blankfield and Brilliant CEO Colin Goldman on how the project came to fruition</p>
            </div>
            <div class="slider-box">
                <h4>Look what's now in stock at Brilliant</h4>
                <p>Take a look at the newest products in Brilliant's range. We have specials across trade that you can
                    take advantage of now. Be quick!</p>
            </div>
        </div>
    </section>
    <section class="product">
        <h4>Browse Our Product</h4>
        <div class="product-list" data-list='{"prop":"browseProduct"}'>
            <a href="#">
                <img src={val.img} alt="No image fouind">
                <p>{val.desc}</p>
            </a>
        </div>
    </section>
    <section class="brilliant-smart">
        <h4>There's an easy way to turn a home into a smart home</h4>
        <div class="banner">
            <div class="banner-image">
                <img src="../../../../images/brilliant/brilliant13.png" alt="">
            </div>
            <summary>
                <h6>Unlock your BrilliantSmart home today</h6>
                <p>Control it all through the BrilliantSmart app. Manage Wi-Fi signal usage, monitor and control automated devices.</p>
                <button class="main-button">Find Out More</button>
                <div class="flex">
                    <img src="../../../../images/brilliant/brilliant14.png" alt="">
                    <img src="../../../../images/brilliant/brilliant15.png" alt="">
                </div>
            </summary>
        </div>
    </section>

</div>