#home {
  @apply overflow-hidden;

  .slider {
    @apply relative;

    .slider-image {
      @apply flex;
    }

    .slider-text {
      @apply grid grid-cols-1 w-11o12 m-auto;

      @screen md {
        @apply grid-cols-4;
      }

      @apply shadow-2xl;
      /* @apply bg-red-500; */

      .slider-box {
        @apply p-5;

        border-bottom: 1px solid gray;

        @screen md {
          border: none;
          border-right: 1px solid gray;
        }


        &:last-child {
          border: none;
        }

        h4,
        p {
          @apply text-base pb-3;
        }
      }
    }
  }


  .product {
    @apply w-11o12 mx-auto mt-16;

    h4 {
      @apply pb-10;
    }

    .product-list {
      @apply grid grid-cols-2 gap-6;

      @screen lg {
        @apply grid-cols-4
      }

      p {
        @apply py-4 font-bold;
      }
    }
  }

  .brilliant-smart {
    h4 {
      @apply text-center text-3xl w-6o12 mx-auto my-10;
    }

    .banner {
      background-image: url('../../images/brilliant/brilliant27.jpg');
      @apply grid grid-cols-1;

      @screen md {
        @apply grid-cols-2;
        height: 550px;
      }

      @apply h-auto;

      .banner-image {
        @apply relative;

        img {
          height: 100%;
          @apply static;
          top: -55px;

          @screen md {
            @apply absolute;
            height: 110%;
          }
        }

        order: 2;

      }

      summary {
        @screen md {
          order: 2;
        }

        @apply flex flex-col justify-center items-center w-9o12 m-auto;

        button {
          border: none;
        }

        img {
          @apply h-10 mt-10 ml-5;
        }
      }
    }

  }

  .smart-range {
    @apply mt-8 mx-auto w-11o12;
  }

  .range-slider {
    .slider-product {

      @apply mt-8 flex flex-row items-center gap-10 relative;
      height: 550px;
      background-image: url('../../images/brilliant/brilliant03.jpg');
      @apply bg-no-repeat bg-cover;

      div {
        @apply ml-20;

        h3 {
          @apply text-5xl;
        }

        p {
          @apply text-3xl;

        }
      }

      .slider-btn {
        @apply absolute bottom-0 right-0 w-5 h-5;

        img {
          filter: ;
        }
      }

    }
    .column{
      @apply flex-col justify-center; 
    }

  }


}
.range-slider{
  button{
    /* background-color: yellow; */
    @apply absolute bottom-0 z-50 w-12 p-4;
    background-color: yellow;
    right:80px;
    &:last-child{
      right: 0;
    }
    img{
      @apply w-4 h-4;
    }
  }
}